<div class="row g-4 g-lg-5 mt-5" data-aos="fade-up" data-aos-delay="200">

    <div class="col-lg-5">
        <div class="about-img">
            <img src="@Orchard.AssetUrl((string)Model.ContentItem.Content.Article.Image.Paths[0])" class="img-fluid" alt="">
        </div>
    </div>

    <div class="col-lg-7">
        <h1>@Model.ContentItem.Content.TitlePart.Title</h1>
        <h3>@Model.ContentItem.Content.Article.Subtitle.Text</h3>
        @Html.Raw(Model.ContentItem.Content.HtmlBodyPart.Html)
    </div>

</div>