

{% shape_remove_item Model.Content "HtmlBodyPart" %}
{% shape_remove_item Model.Content "Blog-Image" %}




<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row g-5">

            <div class="col-lg-12">

                <div class="row gy-4 posts-list">

                    {{ Model.Content | shape_render }}

                </div>


            </div>


        </div>

    </div>
</section>


