@inject IOptions<AdminOptions> AdminOptions
<zone name="HeadMeta">
    <link asp-src="~/FisAdmin/favicon.ico" type="image/x-icon" rel="shortcut icon" />
</zone>
<a class="ta-navbar-brand navbar-brand" href="@Url.Content("~/" + AdminOptions.Value.AdminUrlPrefix)">
    <div class="d-flex align-items-center">
        <img id="logoImg" src="@Url.Content("~/FisAdmin/FIS_Green.svg")" alt="@Site.SiteName" class="pe-2" />
        <span>orchard</span>
        @* <span>@Site.SiteName</span> *@
    </div>
</a>
